body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u9 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u11 {
  position:absolute;
  left:216px;
  top:540px;
  width:38px;
  height:38px;
}
#u12 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u13 {
  position:absolute;
  left:200px;
  top:583px;
  width:70px;
  height:18px;
  font-size:12px;
  text-align:center;
}
#u14 {
  position:absolute;
  left:0px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u16 {
  position:absolute;
  left:310px;
  top:540px;
  width:38px;
  height:38px;
}
#u17 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u18 {
  position:absolute;
  left:294px;
  top:583px;
  width:70px;
  height:18px;
  font-size:12px;
  text-align:center;
}
#u19 {
  position:absolute;
  left:0px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
