body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1364px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:560px;
}
#u2007 {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:560px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:272px;
  width:1360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u2009 {
  position:absolute;
  left:22px;
  top:525px;
  width:80px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2010 {
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u2009_ann {
  position:absolute;
  left:95px;
  top:521px;
  width:1px;
  height:1px;
}
#u2011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2011 {
  position:absolute;
  left:203px;
  top:57px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2012 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2013 {
  position:absolute;
  left:38px;
  top:561px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u2014 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#199ED8;
}
#u2015 {
  position:absolute;
  left:38px;
  top:584px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#199ED8;
}
#u2016 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2018 {
  position:absolute;
  left:275px;
  top:92px;
  width:154px;
  height:36px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:10px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2020 {
  position:absolute;
  left:278px;
  top:98px;
  width:150px;
  height:24px;
}
#u2020_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2021 {
  position:absolute;
  left:203px;
  top:103px;
  width:57px;
  height:16px;
}
#u2022 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(216, 216, 216, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2023 {
  position:absolute;
  left:203px;
  top:145px;
  width:76px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2023_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2023.mouseOver {
}
#u2023_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2023.selected {
}
#u2024 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2023_ann {
  position:absolute;
  left:272px;
  top:141px;
  width:1px;
  height:1px;
}
#u2025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(216, 216, 216, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2025 {
  position:absolute;
  left:466px;
  top:145px;
  width:76px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2025_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2025.mouseOver {
}
#u2025_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2025.selected {
}
#u2026 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(216, 216, 216, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2027 {
  position:absolute;
  left:551px;
  top:145px;
  width:76px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2027_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2027.mouseOver {
}
#u2027_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2027.selected {
}
#u2028 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1126px;
  height:29px;
}
#u2029 {
  position:absolute;
  left:203px;
  top:581px;
  width:1126px;
  height:29px;
}
#u2030 {
  position:absolute;
  left:2px;
  top:6px;
  width:1122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(216, 216, 216, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2031 {
  position:absolute;
  left:291px;
  top:145px;
  width:76px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2031_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2031.mouseOver {
}
#u2031_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2031.selected {
}
#u2032 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2031_ann {
  position:absolute;
  left:360px;
  top:141px;
  width:1px;
  height:1px;
}
#u2033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2034 {
  position:absolute;
  left:535px;
  top:93px;
  width:136px;
  height:36px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036 {
  position:absolute;
  left:537px;
  top:99px;
  width:132px;
  height:24px;
}
#u2036_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2037 {
  position:absolute;
  left:466px;
  top:104px;
  width:57px;
  height:16px;
}
#u2038 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2039 {
  position:absolute;
  left:699px;
  top:103px;
  width:57px;
  height:16px;
}
#u2040 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2041 {
  position:absolute;
  left:766px;
  top:95px;
  width:117px;
  height:32px;
}
#u2041_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2041_input:disabled {
  color:grayText;
}
#u2042 {
  position:absolute;
  left:203px;
  top:193px;
  width:758px;
  height:383px;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u2043 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  word-wrap:break-word;
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u2045 {
  position:absolute;
  left:58px;
  top:0px;
  width:94px;
  height:30px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u2047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u2047 {
  position:absolute;
  left:152px;
  top:0px;
  width:103px;
  height:30px;
}
#u2048 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u2049 {
  position:absolute;
  left:255px;
  top:0px;
  width:94px;
  height:30px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u2051 {
  position:absolute;
  left:349px;
  top:0px;
  width:66px;
  height:30px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u2053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u2053 {
  position:absolute;
  left:415px;
  top:0px;
  width:78px;
  height:30px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u2055 {
  position:absolute;
  left:493px;
  top:0px;
  width:72px;
  height:30px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u2057 {
  position:absolute;
  left:565px;
  top:0px;
  width:188px;
  height:30px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u2059 {
  position:absolute;
  left:0px;
  top:30px;
  width:58px;
  height:58px;
}
#u2060 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  word-wrap:break-word;
}
#u2061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:58px;
}
#u2061 {
  position:absolute;
  left:58px;
  top:30px;
  width:94px;
  height:58px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:21px;
  width:90px;
  word-wrap:break-word;
}
#u2063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:58px;
}
#u2063 {
  position:absolute;
  left:152px;
  top:30px;
  width:103px;
  height:58px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:21px;
  width:99px;
  word-wrap:break-word;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:58px;
}
#u2065 {
  position:absolute;
  left:255px;
  top:30px;
  width:94px;
  height:58px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:13px;
  width:90px;
  word-wrap:break-word;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:58px;
}
#u2067 {
  position:absolute;
  left:349px;
  top:30px;
  width:66px;
  height:58px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:21px;
  width:62px;
  word-wrap:break-word;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:58px;
}
#u2069 {
  position:absolute;
  left:415px;
  top:30px;
  width:78px;
  height:58px;
}
#u2070 {
  position:absolute;
  left:2px;
  top:21px;
  width:74px;
  word-wrap:break-word;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:58px;
}
#u2071 {
  position:absolute;
  left:493px;
  top:30px;
  width:72px;
  height:58px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:21px;
  width:68px;
  word-wrap:break-word;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:58px;
}
#u2073 {
  position:absolute;
  left:565px;
  top:30px;
  width:188px;
  height:58px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:21px;
  width:184px;
  word-wrap:break-word;
}
#u2073_ann {
  position:absolute;
  left:739px;
  top:30px;
  width:1px;
  height:1px;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u2075 {
  position:absolute;
  left:0px;
  top:88px;
  width:58px;
  height:58px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:58px;
}
#u2077 {
  position:absolute;
  left:58px;
  top:88px;
  width:94px;
  height:58px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:21px;
  width:90px;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:58px;
}
#u2079 {
  position:absolute;
  left:152px;
  top:88px;
  width:103px;
  height:58px;
}
#u2080 {
  position:absolute;
  left:2px;
  top:21px;
  width:99px;
  word-wrap:break-word;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:58px;
}
#u2081 {
  position:absolute;
  left:255px;
  top:88px;
  width:94px;
  height:58px;
}
#u2082 {
  position:absolute;
  left:2px;
  top:13px;
  width:90px;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:58px;
}
#u2083 {
  position:absolute;
  left:349px;
  top:88px;
  width:66px;
  height:58px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:21px;
  width:62px;
  word-wrap:break-word;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:58px;
}
#u2085 {
  position:absolute;
  left:415px;
  top:88px;
  width:78px;
  height:58px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:21px;
  width:74px;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:58px;
}
#u2087 {
  position:absolute;
  left:493px;
  top:88px;
  width:72px;
  height:58px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:21px;
  width:68px;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:58px;
}
#u2089 {
  position:absolute;
  left:565px;
  top:88px;
  width:188px;
  height:58px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:21px;
  width:184px;
  word-wrap:break-word;
}
#u2091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u2091 {
  position:absolute;
  left:0px;
  top:146px;
  width:58px;
  height:58px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  word-wrap:break-word;
}
#u2093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:58px;
}
#u2093 {
  position:absolute;
  left:58px;
  top:146px;
  width:94px;
  height:58px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:21px;
  width:90px;
  word-wrap:break-word;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:58px;
}
#u2095 {
  position:absolute;
  left:152px;
  top:146px;
  width:103px;
  height:58px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:21px;
  width:99px;
  word-wrap:break-word;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:58px;
}
#u2097 {
  position:absolute;
  left:255px;
  top:146px;
  width:94px;
  height:58px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:13px;
  width:90px;
  word-wrap:break-word;
}
#u2099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:58px;
}
#u2099 {
  position:absolute;
  left:349px;
  top:146px;
  width:66px;
  height:58px;
}
#u2100 {
  position:absolute;
  left:2px;
  top:21px;
  width:62px;
  word-wrap:break-word;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:58px;
}
#u2101 {
  position:absolute;
  left:415px;
  top:146px;
  width:78px;
  height:58px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:21px;
  width:74px;
  word-wrap:break-word;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:58px;
}
#u2103 {
  position:absolute;
  left:493px;
  top:146px;
  width:72px;
  height:58px;
}
#u2104 {
  position:absolute;
  left:2px;
  top:21px;
  width:68px;
  word-wrap:break-word;
}
#u2105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:58px;
}
#u2105 {
  position:absolute;
  left:565px;
  top:146px;
  width:188px;
  height:58px;
}
#u2106 {
  position:absolute;
  left:2px;
  top:21px;
  width:184px;
  word-wrap:break-word;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u2107 {
  position:absolute;
  left:0px;
  top:204px;
  width:58px;
  height:58px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  word-wrap:break-word;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:58px;
}
#u2109 {
  position:absolute;
  left:58px;
  top:204px;
  width:94px;
  height:58px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:21px;
  width:90px;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:58px;
}
#u2111 {
  position:absolute;
  left:152px;
  top:204px;
  width:103px;
  height:58px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:21px;
  width:99px;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:58px;
}
#u2113 {
  position:absolute;
  left:255px;
  top:204px;
  width:94px;
  height:58px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:13px;
  width:90px;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:58px;
}
#u2115 {
  position:absolute;
  left:349px;
  top:204px;
  width:66px;
  height:58px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:21px;
  width:62px;
  word-wrap:break-word;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:58px;
}
#u2117 {
  position:absolute;
  left:415px;
  top:204px;
  width:78px;
  height:58px;
}
#u2118 {
  position:absolute;
  left:2px;
  top:21px;
  width:74px;
  word-wrap:break-word;
}
#u2119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:58px;
}
#u2119 {
  position:absolute;
  left:493px;
  top:204px;
  width:72px;
  height:58px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:21px;
  width:68px;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:58px;
}
#u2121 {
  position:absolute;
  left:565px;
  top:204px;
  width:188px;
  height:58px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:21px;
  width:184px;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u2123 {
  position:absolute;
  left:0px;
  top:262px;
  width:58px;
  height:58px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:58px;
}
#u2125 {
  position:absolute;
  left:58px;
  top:262px;
  width:94px;
  height:58px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:21px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:58px;
}
#u2127 {
  position:absolute;
  left:152px;
  top:262px;
  width:103px;
  height:58px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:21px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:58px;
}
#u2129 {
  position:absolute;
  left:255px;
  top:262px;
  width:94px;
  height:58px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:21px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:58px;
}
#u2131 {
  position:absolute;
  left:349px;
  top:262px;
  width:66px;
  height:58px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:21px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:58px;
}
#u2133 {
  position:absolute;
  left:415px;
  top:262px;
  width:78px;
  height:58px;
}
#u2134 {
  position:absolute;
  left:2px;
  top:21px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:58px;
}
#u2135 {
  position:absolute;
  left:493px;
  top:262px;
  width:72px;
  height:58px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:21px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:58px;
}
#u2137 {
  position:absolute;
  left:565px;
  top:262px;
  width:188px;
  height:58px;
}
#u2138 {
  position:absolute;
  left:2px;
  top:21px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u2139 {
  position:absolute;
  left:0px;
  top:320px;
  width:58px;
  height:58px;
}
#u2140 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  word-wrap:break-word;
}
#u2141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:58px;
}
#u2141 {
  position:absolute;
  left:58px;
  top:320px;
  width:94px;
  height:58px;
}
#u2142 {
  position:absolute;
  left:2px;
  top:21px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:58px;
}
#u2143 {
  position:absolute;
  left:152px;
  top:320px;
  width:103px;
  height:58px;
}
#u2144 {
  position:absolute;
  left:2px;
  top:21px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:58px;
}
#u2145 {
  position:absolute;
  left:255px;
  top:320px;
  width:94px;
  height:58px;
}
#u2146 {
  position:absolute;
  left:2px;
  top:21px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:58px;
}
#u2147 {
  position:absolute;
  left:349px;
  top:320px;
  width:66px;
  height:58px;
}
#u2148 {
  position:absolute;
  left:2px;
  top:21px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:58px;
}
#u2149 {
  position:absolute;
  left:415px;
  top:320px;
  width:78px;
  height:58px;
}
#u2150 {
  position:absolute;
  left:2px;
  top:21px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:58px;
}
#u2151 {
  position:absolute;
  left:493px;
  top:320px;
  width:72px;
  height:58px;
}
#u2152 {
  position:absolute;
  left:2px;
  top:21px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:58px;
}
#u2153 {
  position:absolute;
  left:565px;
  top:320px;
  width:188px;
  height:58px;
}
#u2154 {
  position:absolute;
  left:2px;
  top:21px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155 {
  position:absolute;
  left:969px;
  top:193px;
  width:395px;
  height:269px;
}
#u2156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u2156 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u2157 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u2156_ann {
  position:absolute;
  left:118px;
  top:0px;
  width:1px;
  height:1px;
}
#u2158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u2158 {
  position:absolute;
  left:132px;
  top:0px;
  width:64px;
  height:36px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u2160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u2160 {
  position:absolute;
  left:196px;
  top:0px;
  width:60px;
  height:36px;
}
#u2161 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u2162 {
  position:absolute;
  left:256px;
  top:0px;
  width:64px;
  height:36px;
}
#u2163 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u2164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u2164 {
  position:absolute;
  left:320px;
  top:0px;
  width:70px;
  height:36px;
}
#u2165 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u2166 {
  position:absolute;
  left:0px;
  top:36px;
  width:132px;
  height:36px;
}
#u2167 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u2168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u2168 {
  position:absolute;
  left:132px;
  top:36px;
  width:64px;
  height:36px;
}
#u2169 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u2170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u2170 {
  position:absolute;
  left:196px;
  top:36px;
  width:60px;
  height:36px;
}
#u2171 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u2172 {
  position:absolute;
  left:256px;
  top:36px;
  width:64px;
  height:36px;
}
#u2173 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u2174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u2174 {
  position:absolute;
  left:320px;
  top:36px;
  width:70px;
  height:36px;
}
#u2175 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u2176 {
  position:absolute;
  left:0px;
  top:72px;
  width:132px;
  height:36px;
}
#u2177 {
  position:absolute;
  left:2px;
  top:2px;
  width:128px;
  word-wrap:break-word;
}
#u2178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u2178 {
  position:absolute;
  left:132px;
  top:72px;
  width:64px;
  height:36px;
}
#u2179 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u2180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u2180 {
  position:absolute;
  left:196px;
  top:72px;
  width:60px;
  height:36px;
}
#u2181 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u2182 {
  position:absolute;
  left:256px;
  top:72px;
  width:64px;
  height:36px;
}
#u2183 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u2184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u2184 {
  position:absolute;
  left:320px;
  top:72px;
  width:70px;
  height:36px;
}
#u2185 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u2186 {
  position:absolute;
  left:0px;
  top:108px;
  width:132px;
  height:36px;
}
#u2187 {
  position:absolute;
  left:2px;
  top:2px;
  width:128px;
  word-wrap:break-word;
}
#u2188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u2188 {
  position:absolute;
  left:132px;
  top:108px;
  width:64px;
  height:36px;
}
#u2189 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u2190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u2190 {
  position:absolute;
  left:196px;
  top:108px;
  width:60px;
  height:36px;
}
#u2191 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u2192 {
  position:absolute;
  left:256px;
  top:108px;
  width:64px;
  height:36px;
}
#u2193 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u2194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u2194 {
  position:absolute;
  left:320px;
  top:108px;
  width:70px;
  height:36px;
}
#u2195 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u2196 {
  position:absolute;
  left:0px;
  top:144px;
  width:132px;
  height:30px;
}
#u2197 {
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u2198 {
  position:absolute;
  left:132px;
  top:144px;
  width:64px;
  height:30px;
}
#u2199 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2200 {
  position:absolute;
  left:196px;
  top:144px;
  width:60px;
  height:30px;
}
#u2201 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u2202 {
  position:absolute;
  left:256px;
  top:144px;
  width:64px;
  height:30px;
}
#u2203 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2204 {
  position:absolute;
  left:320px;
  top:144px;
  width:70px;
  height:30px;
}
#u2205 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u2206 {
  position:absolute;
  left:0px;
  top:174px;
  width:132px;
  height:30px;
}
#u2207 {
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u2208 {
  position:absolute;
  left:132px;
  top:174px;
  width:64px;
  height:30px;
}
#u2209 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2210 {
  position:absolute;
  left:196px;
  top:174px;
  width:60px;
  height:30px;
}
#u2211 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u2212 {
  position:absolute;
  left:256px;
  top:174px;
  width:64px;
  height:30px;
}
#u2213 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2214 {
  position:absolute;
  left:320px;
  top:174px;
  width:70px;
  height:30px;
}
#u2215 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u2216 {
  position:absolute;
  left:0px;
  top:204px;
  width:132px;
  height:30px;
}
#u2217 {
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u2218 {
  position:absolute;
  left:132px;
  top:204px;
  width:64px;
  height:30px;
}
#u2219 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2220 {
  position:absolute;
  left:196px;
  top:204px;
  width:60px;
  height:30px;
}
#u2221 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u2222 {
  position:absolute;
  left:256px;
  top:204px;
  width:64px;
  height:30px;
}
#u2223 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2224 {
  position:absolute;
  left:320px;
  top:204px;
  width:70px;
  height:30px;
}
#u2225 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u2226 {
  position:absolute;
  left:0px;
  top:234px;
  width:132px;
  height:30px;
}
#u2227 {
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u2228 {
  position:absolute;
  left:132px;
  top:234px;
  width:64px;
  height:30px;
}
#u2229 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2230 {
  position:absolute;
  left:196px;
  top:234px;
  width:60px;
  height:30px;
}
#u2231 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u2232 {
  position:absolute;
  left:256px;
  top:234px;
  width:64px;
  height:30px;
}
#u2233 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2234 {
  position:absolute;
  left:320px;
  top:234px;
  width:70px;
  height:30px;
}
#u2235 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2238 {
  position:absolute;
  left:1007px;
  top:95px;
  width:159px;
  height:36px;
  color:#999999;
}
#u2239 {
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u2240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2240 {
  position:absolute;
  left:1193px;
  top:94px;
  width:156px;
  height:36px;
  color:#999999;
}
#u2241 {
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u2242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2242 {
  position:absolute;
  left:1173px;
  top:105px;
  width:17px;
  height:16px;
}
#u2243 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u2244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2244 {
  position:absolute;
  left:933px;
  top:103px;
  width:57px;
  height:16px;
}
#u2245 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u2246 {
  position:absolute;
  left:676px;
  top:659px;
  width:183px;
  height:16px;
  text-align:center;
}
#u2247 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
