body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1370px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:560px;
}
#u2003 {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:560px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:272px;
  width:1360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u2005 {
  position:absolute;
  left:22px;
  top:525px;
  width:80px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u2006 {
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u2005_ann {
  position:absolute;
  left:95px;
  top:521px;
  width:1px;
  height:1px;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2007 {
  position:absolute;
  left:203px;
  top:57px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2008 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2009 {
  position:absolute;
  left:38px;
  top:561px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u2010 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#199ED8;
}
#u2011 {
  position:absolute;
  left:38px;
  top:584px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#199ED8;
}
#u2012 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2014 {
  position:absolute;
  left:275px;
  top:92px;
  width:154px;
  height:36px;
}
#u2015 {
  position:absolute;
  left:2px;
  top:10px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016 {
  position:absolute;
  left:278px;
  top:98px;
  width:150px;
  height:24px;
}
#u2016_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2017 {
  position:absolute;
  left:203px;
  top:103px;
  width:57px;
  height:16px;
}
#u2018 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(216, 216, 216, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2019 {
  position:absolute;
  left:203px;
  top:145px;
  width:76px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2019_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2019.mouseOver {
}
#u2019_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2019.selected {
}
#u2020 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2019_ann {
  position:absolute;
  left:272px;
  top:141px;
  width:1px;
  height:1px;
}
#u2021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(216, 216, 216, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2021 {
  position:absolute;
  left:466px;
  top:145px;
  width:76px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2021_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2021.mouseOver {
}
#u2021_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2021.selected {
}
#u2022 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(216, 216, 216, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2023 {
  position:absolute;
  left:551px;
  top:145px;
  width:76px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2023_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2023.mouseOver {
}
#u2023_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2023.selected {
}
#u2024 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1126px;
  height:29px;
}
#u2025 {
  position:absolute;
  left:203px;
  top:581px;
  width:1126px;
  height:29px;
}
#u2026 {
  position:absolute;
  left:2px;
  top:6px;
  width:1122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(216, 216, 216, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2027 {
  position:absolute;
  left:291px;
  top:145px;
  width:76px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2027_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2027.mouseOver {
}
#u2027_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2027.selected {
}
#u2028 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2027_ann {
  position:absolute;
  left:360px;
  top:141px;
  width:1px;
  height:1px;
}
#u2029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2030 {
  position:absolute;
  left:535px;
  top:93px;
  width:136px;
  height:36px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032 {
  position:absolute;
  left:537px;
  top:99px;
  width:132px;
  height:24px;
}
#u2032_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2033 {
  position:absolute;
  left:466px;
  top:104px;
  width:57px;
  height:16px;
}
#u2034 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2035 {
  position:absolute;
  left:699px;
  top:103px;
  width:57px;
  height:16px;
}
#u2036 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2037 {
  position:absolute;
  left:766px;
  top:95px;
  width:117px;
  height:32px;
}
#u2037_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2037_input:disabled {
  color:grayText;
}
#u2038 {
  position:absolute;
  left:203px;
  top:193px;
  width:685px;
  height:383px;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2039 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u2041 {
  position:absolute;
  left:60px;
  top:0px;
  width:97px;
  height:30px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u2043 {
  position:absolute;
  left:157px;
  top:0px;
  width:106px;
  height:30px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u2045 {
  position:absolute;
  left:263px;
  top:0px;
  width:85px;
  height:30px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u2047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u2047 {
  position:absolute;
  left:348px;
  top:0px;
  width:101px;
  height:30px;
}
#u2048 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u2049 {
  position:absolute;
  left:449px;
  top:0px;
  width:84px;
  height:30px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u2051 {
  position:absolute;
  left:533px;
  top:0px;
  width:147px;
  height:30px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
#u2053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
}
#u2053 {
  position:absolute;
  left:0px;
  top:30px;
  width:60px;
  height:58px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:58px;
}
#u2055 {
  position:absolute;
  left:60px;
  top:30px;
  width:97px;
  height:58px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:21px;
  width:93px;
  word-wrap:break-word;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:58px;
}
#u2057 {
  position:absolute;
  left:157px;
  top:30px;
  width:106px;
  height:58px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:21px;
  width:102px;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:58px;
}
#u2059 {
  position:absolute;
  left:263px;
  top:30px;
  width:85px;
  height:58px;
}
#u2060 {
  position:absolute;
  left:2px;
  top:21px;
  width:81px;
  word-wrap:break-word;
}
#u2061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:58px;
}
#u2061 {
  position:absolute;
  left:348px;
  top:30px;
  width:101px;
  height:58px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:21px;
  width:97px;
  word-wrap:break-word;
}
#u2063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:58px;
}
#u2063 {
  position:absolute;
  left:449px;
  top:30px;
  width:84px;
  height:58px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:21px;
  width:80px;
  word-wrap:break-word;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:58px;
}
#u2065 {
  position:absolute;
  left:533px;
  top:30px;
  width:147px;
  height:58px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:21px;
  width:143px;
  word-wrap:break-word;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
}
#u2067 {
  position:absolute;
  left:0px;
  top:88px;
  width:60px;
  height:58px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:58px;
}
#u2069 {
  position:absolute;
  left:60px;
  top:88px;
  width:97px;
  height:58px;
}
#u2070 {
  position:absolute;
  left:2px;
  top:21px;
  width:93px;
  word-wrap:break-word;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:58px;
}
#u2071 {
  position:absolute;
  left:157px;
  top:88px;
  width:106px;
  height:58px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:21px;
  width:102px;
  word-wrap:break-word;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:58px;
}
#u2073 {
  position:absolute;
  left:263px;
  top:88px;
  width:85px;
  height:58px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:21px;
  width:81px;
  word-wrap:break-word;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:58px;
}
#u2075 {
  position:absolute;
  left:348px;
  top:88px;
  width:101px;
  height:58px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:21px;
  width:97px;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:58px;
}
#u2077 {
  position:absolute;
  left:449px;
  top:88px;
  width:84px;
  height:58px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:21px;
  width:80px;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:58px;
}
#u2079 {
  position:absolute;
  left:533px;
  top:88px;
  width:147px;
  height:58px;
}
#u2080 {
  position:absolute;
  left:2px;
  top:21px;
  width:143px;
  word-wrap:break-word;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
}
#u2081 {
  position:absolute;
  left:0px;
  top:146px;
  width:60px;
  height:58px;
}
#u2082 {
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:58px;
}
#u2083 {
  position:absolute;
  left:60px;
  top:146px;
  width:97px;
  height:58px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:21px;
  width:93px;
  word-wrap:break-word;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:58px;
}
#u2085 {
  position:absolute;
  left:157px;
  top:146px;
  width:106px;
  height:58px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:21px;
  width:102px;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:58px;
}
#u2087 {
  position:absolute;
  left:263px;
  top:146px;
  width:85px;
  height:58px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:21px;
  width:81px;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:58px;
}
#u2089 {
  position:absolute;
  left:348px;
  top:146px;
  width:101px;
  height:58px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:21px;
  width:97px;
  word-wrap:break-word;
}
#u2091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:58px;
}
#u2091 {
  position:absolute;
  left:449px;
  top:146px;
  width:84px;
  height:58px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:21px;
  width:80px;
  word-wrap:break-word;
}
#u2093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:58px;
}
#u2093 {
  position:absolute;
  left:533px;
  top:146px;
  width:147px;
  height:58px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:21px;
  width:143px;
  word-wrap:break-word;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
}
#u2095 {
  position:absolute;
  left:0px;
  top:204px;
  width:60px;
  height:58px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:58px;
}
#u2097 {
  position:absolute;
  left:60px;
  top:204px;
  width:97px;
  height:58px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:21px;
  width:93px;
  word-wrap:break-word;
}
#u2099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:58px;
}
#u2099 {
  position:absolute;
  left:157px;
  top:204px;
  width:106px;
  height:58px;
}
#u2100 {
  position:absolute;
  left:2px;
  top:21px;
  width:102px;
  word-wrap:break-word;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:58px;
}
#u2101 {
  position:absolute;
  left:263px;
  top:204px;
  width:85px;
  height:58px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:21px;
  width:81px;
  word-wrap:break-word;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:58px;
}
#u2103 {
  position:absolute;
  left:348px;
  top:204px;
  width:101px;
  height:58px;
}
#u2104 {
  position:absolute;
  left:2px;
  top:21px;
  width:97px;
  word-wrap:break-word;
}
#u2105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:58px;
}
#u2105 {
  position:absolute;
  left:449px;
  top:204px;
  width:84px;
  height:58px;
}
#u2106 {
  position:absolute;
  left:2px;
  top:21px;
  width:80px;
  word-wrap:break-word;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:58px;
}
#u2107 {
  position:absolute;
  left:533px;
  top:204px;
  width:147px;
  height:58px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:21px;
  width:143px;
  word-wrap:break-word;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
}
#u2109 {
  position:absolute;
  left:0px;
  top:262px;
  width:60px;
  height:58px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:58px;
}
#u2111 {
  position:absolute;
  left:60px;
  top:262px;
  width:97px;
  height:58px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:21px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:58px;
}
#u2113 {
  position:absolute;
  left:157px;
  top:262px;
  width:106px;
  height:58px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:21px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:58px;
}
#u2115 {
  position:absolute;
  left:263px;
  top:262px;
  width:85px;
  height:58px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:21px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:58px;
}
#u2117 {
  position:absolute;
  left:348px;
  top:262px;
  width:101px;
  height:58px;
}
#u2118 {
  position:absolute;
  left:2px;
  top:21px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:58px;
}
#u2119 {
  position:absolute;
  left:449px;
  top:262px;
  width:84px;
  height:58px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:21px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:58px;
}
#u2121 {
  position:absolute;
  left:533px;
  top:262px;
  width:147px;
  height:58px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:21px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
}
#u2123 {
  position:absolute;
  left:0px;
  top:320px;
  width:60px;
  height:58px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:58px;
}
#u2125 {
  position:absolute;
  left:60px;
  top:320px;
  width:97px;
  height:58px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:21px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:58px;
}
#u2127 {
  position:absolute;
  left:157px;
  top:320px;
  width:106px;
  height:58px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:21px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:58px;
}
#u2129 {
  position:absolute;
  left:263px;
  top:320px;
  width:85px;
  height:58px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:21px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:58px;
}
#u2131 {
  position:absolute;
  left:348px;
  top:320px;
  width:101px;
  height:58px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:21px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:58px;
}
#u2133 {
  position:absolute;
  left:449px;
  top:320px;
  width:84px;
  height:58px;
}
#u2134 {
  position:absolute;
  left:2px;
  top:21px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:58px;
}
#u2135 {
  position:absolute;
  left:533px;
  top:320px;
  width:147px;
  height:58px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:21px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2137 {
  position:absolute;
  left:906px;
  top:193px;
  width:469px;
  height:269px;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u2138 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u2138_ann {
  position:absolute;
  left:131px;
  top:0px;
  width:1px;
  height:1px;
}
#u2140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u2140 {
  position:absolute;
  left:145px;
  top:0px;
  width:63px;
  height:36px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u2142 {
  position:absolute;
  left:208px;
  top:0px;
  width:73px;
  height:36px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u2144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u2144 {
  position:absolute;
  left:281px;
  top:0px;
  width:112px;
  height:36px;
}
#u2145 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u2146 {
  position:absolute;
  left:393px;
  top:0px;
  width:71px;
  height:36px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u2148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u2148 {
  position:absolute;
  left:0px;
  top:36px;
  width:145px;
  height:36px;
}
#u2149 {
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u2150 {
  position:absolute;
  left:145px;
  top:36px;
  width:63px;
  height:36px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u2152 {
  position:absolute;
  left:208px;
  top:36px;
  width:73px;
  height:36px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u2154 {
  position:absolute;
  left:281px;
  top:36px;
  width:112px;
  height:36px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u2156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u2156 {
  position:absolute;
  left:393px;
  top:36px;
  width:71px;
  height:36px;
}
#u2157 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u2158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u2158 {
  position:absolute;
  left:0px;
  top:72px;
  width:145px;
  height:36px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  word-wrap:break-word;
}
#u2160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u2160 {
  position:absolute;
  left:145px;
  top:72px;
  width:63px;
  height:36px;
}
#u2161 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u2162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u2162 {
  position:absolute;
  left:208px;
  top:72px;
  width:73px;
  height:36px;
}
#u2163 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u2164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u2164 {
  position:absolute;
  left:281px;
  top:72px;
  width:112px;
  height:36px;
}
#u2165 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u2166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u2166 {
  position:absolute;
  left:393px;
  top:72px;
  width:71px;
  height:36px;
}
#u2167 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u2168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u2168 {
  position:absolute;
  left:0px;
  top:108px;
  width:145px;
  height:36px;
}
#u2169 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  word-wrap:break-word;
}
#u2170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u2170 {
  position:absolute;
  left:145px;
  top:108px;
  width:63px;
  height:36px;
}
#u2171 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u2172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u2172 {
  position:absolute;
  left:208px;
  top:108px;
  width:73px;
  height:36px;
}
#u2173 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u2174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u2174 {
  position:absolute;
  left:281px;
  top:108px;
  width:112px;
  height:36px;
}
#u2175 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u2176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u2176 {
  position:absolute;
  left:393px;
  top:108px;
  width:71px;
  height:36px;
}
#u2177 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u2178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u2178 {
  position:absolute;
  left:0px;
  top:144px;
  width:145px;
  height:30px;
}
#u2179 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u2180 {
  position:absolute;
  left:145px;
  top:144px;
  width:63px;
  height:30px;
}
#u2181 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2182 {
  position:absolute;
  left:208px;
  top:144px;
  width:73px;
  height:30px;
}
#u2183 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u2184 {
  position:absolute;
  left:281px;
  top:144px;
  width:112px;
  height:30px;
}
#u2185 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u2186 {
  position:absolute;
  left:393px;
  top:144px;
  width:71px;
  height:30px;
}
#u2187 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u2188 {
  position:absolute;
  left:0px;
  top:174px;
  width:145px;
  height:30px;
}
#u2189 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u2190 {
  position:absolute;
  left:145px;
  top:174px;
  width:63px;
  height:30px;
}
#u2191 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2192 {
  position:absolute;
  left:208px;
  top:174px;
  width:73px;
  height:30px;
}
#u2193 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u2194 {
  position:absolute;
  left:281px;
  top:174px;
  width:112px;
  height:30px;
}
#u2195 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u2196 {
  position:absolute;
  left:393px;
  top:174px;
  width:71px;
  height:30px;
}
#u2197 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u2198 {
  position:absolute;
  left:0px;
  top:204px;
  width:145px;
  height:30px;
}
#u2199 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u2200 {
  position:absolute;
  left:145px;
  top:204px;
  width:63px;
  height:30px;
}
#u2201 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2202 {
  position:absolute;
  left:208px;
  top:204px;
  width:73px;
  height:30px;
}
#u2203 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u2204 {
  position:absolute;
  left:281px;
  top:204px;
  width:112px;
  height:30px;
}
#u2205 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u2206 {
  position:absolute;
  left:393px;
  top:204px;
  width:71px;
  height:30px;
}
#u2207 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u2208 {
  position:absolute;
  left:0px;
  top:234px;
  width:145px;
  height:30px;
}
#u2209 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u2210 {
  position:absolute;
  left:145px;
  top:234px;
  width:63px;
  height:30px;
}
#u2211 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2212 {
  position:absolute;
  left:208px;
  top:234px;
  width:73px;
  height:30px;
}
#u2213 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u2214 {
  position:absolute;
  left:281px;
  top:234px;
  width:112px;
  height:30px;
}
#u2215 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u2216 {
  position:absolute;
  left:393px;
  top:234px;
  width:71px;
  height:30px;
}
#u2217 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2219 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2220 {
  position:absolute;
  left:1007px;
  top:95px;
  width:159px;
  height:36px;
  color:#999999;
}
#u2221 {
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u2222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2222 {
  position:absolute;
  left:1193px;
  top:94px;
  width:156px;
  height:36px;
  color:#999999;
}
#u2223 {
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u2224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2224 {
  position:absolute;
  left:1173px;
  top:105px;
  width:17px;
  height:16px;
}
#u2225 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u2226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2226 {
  position:absolute;
  left:933px;
  top:103px;
  width:57px;
  height:16px;
}
#u2227 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
