body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1364px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:560px;
}
#u1188 {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:560px;
}
#u1189 {
  position:absolute;
  left:2px;
  top:272px;
  width:1360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u1190 {
  position:absolute;
  left:22px;
  top:525px;
  width:80px;
  height:30px;
  font-size:12px;
  color:#1E1E1E;
}
#u1191 {
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u1190_ann {
  position:absolute;
  left:95px;
  top:521px;
  width:1px;
  height:1px;
}
#u1192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1192 {
  position:absolute;
  left:203px;
  top:57px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1193 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#199ED8;
}
#u1194 {
  position:absolute;
  left:38px;
  top:561px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#199ED8;
}
#u1195 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1196 {
  position:absolute;
  left:38px;
  top:584px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u1197 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1198 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1199 {
  position:absolute;
  left:281px;
  top:92px;
  width:234px;
  height:36px;
}
#u1200 {
  position:absolute;
  left:2px;
  top:10px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201 {
  position:absolute;
  left:285px;
  top:98px;
  width:227px;
  height:24px;
}
#u1201_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1202 {
  position:absolute;
  left:203px;
  top:103px;
  width:57px;
  height:16px;
}
#u1203 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(216, 216, 216, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1204 {
  position:absolute;
  left:203px;
  top:145px;
  width:80px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1204_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1204.mouseOver {
}
#u1204_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1204.selected {
}
#u1205 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u1204_ann {
  position:absolute;
  left:276px;
  top:141px;
  width:1px;
  height:1px;
}
#u1206 {
  position:absolute;
  left:203px;
  top:193px;
  width:1166px;
  height:383px;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u1207 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u1208 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u1209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u1209 {
  position:absolute;
  left:60px;
  top:0px;
  width:124px;
  height:30px;
}
#u1210 {
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u1211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u1211 {
  position:absolute;
  left:184px;
  top:0px;
  width:90px;
  height:30px;
}
#u1212 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u1213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1213 {
  position:absolute;
  left:274px;
  top:0px;
  width:123px;
  height:30px;
}
#u1214 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  word-wrap:break-word;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u1215 {
  position:absolute;
  left:397px;
  top:0px;
  width:148px;
  height:30px;
}
#u1216 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u1217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u1217 {
  position:absolute;
  left:545px;
  top:0px;
  width:320px;
  height:30px;
}
#u1218 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  word-wrap:break-word;
}
#u1219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:30px;
}
#u1219 {
  position:absolute;
  left:865px;
  top:0px;
  width:296px;
  height:30px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:7px;
  width:292px;
  word-wrap:break-word;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
}
#u1221 {
  position:absolute;
  left:0px;
  top:30px;
  width:60px;
  height:58px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:58px;
}
#u1223 {
  position:absolute;
  left:60px;
  top:30px;
  width:124px;
  height:58px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:21px;
  width:120px;
  word-wrap:break-word;
}
#u1225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
}
#u1225 {
  position:absolute;
  left:184px;
  top:30px;
  width:90px;
  height:58px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:21px;
  width:86px;
  word-wrap:break-word;
}
#u1227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:58px;
}
#u1227 {
  position:absolute;
  left:274px;
  top:30px;
  width:123px;
  height:58px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:58px;
}
#u1229 {
  position:absolute;
  left:397px;
  top:30px;
  width:148px;
  height:58px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:21px;
  width:144px;
  word-wrap:break-word;
}
#u1231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:58px;
}
#u1231 {
  position:absolute;
  left:545px;
  top:30px;
  width:320px;
  height:58px;
}
#u1232 {
  position:absolute;
  left:2px;
  top:21px;
  width:316px;
  word-wrap:break-word;
}
#u1233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:58px;
}
#u1233 {
  position:absolute;
  left:865px;
  top:30px;
  width:296px;
  height:58px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:21px;
  width:292px;
  word-wrap:break-word;
}
#u1233_ann {
  position:absolute;
  left:1147px;
  top:30px;
  width:1px;
  height:1px;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
}
#u1235 {
  position:absolute;
  left:0px;
  top:88px;
  width:60px;
  height:58px;
}
#u1236 {
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u1237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:58px;
}
#u1237 {
  position:absolute;
  left:60px;
  top:88px;
  width:124px;
  height:58px;
}
#u1238 {
  position:absolute;
  left:2px;
  top:21px;
  width:120px;
  word-wrap:break-word;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
}
#u1239 {
  position:absolute;
  left:184px;
  top:88px;
  width:90px;
  height:58px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:21px;
  width:86px;
  word-wrap:break-word;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:58px;
}
#u1241 {
  position:absolute;
  left:274px;
  top:88px;
  width:123px;
  height:58px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:58px;
}
#u1243 {
  position:absolute;
  left:397px;
  top:88px;
  width:148px;
  height:58px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:21px;
  width:144px;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:58px;
}
#u1245 {
  position:absolute;
  left:545px;
  top:88px;
  width:320px;
  height:58px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:21px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:58px;
}
#u1247 {
  position:absolute;
  left:865px;
  top:88px;
  width:296px;
  height:58px;
}
#u1248 {
  position:absolute;
  left:2px;
  top:21px;
  width:292px;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
}
#u1249 {
  position:absolute;
  left:0px;
  top:146px;
  width:60px;
  height:58px;
}
#u1250 {
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:58px;
}
#u1251 {
  position:absolute;
  left:60px;
  top:146px;
  width:124px;
  height:58px;
}
#u1252 {
  position:absolute;
  left:2px;
  top:21px;
  width:120px;
  word-wrap:break-word;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
}
#u1253 {
  position:absolute;
  left:184px;
  top:146px;
  width:90px;
  height:58px;
}
#u1254 {
  position:absolute;
  left:2px;
  top:21px;
  width:86px;
  word-wrap:break-word;
}
#u1255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:58px;
}
#u1255 {
  position:absolute;
  left:274px;
  top:146px;
  width:123px;
  height:58px;
}
#u1256 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:58px;
}
#u1257 {
  position:absolute;
  left:397px;
  top:146px;
  width:148px;
  height:58px;
}
#u1258 {
  position:absolute;
  left:2px;
  top:21px;
  width:144px;
  word-wrap:break-word;
}
#u1259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:58px;
}
#u1259 {
  position:absolute;
  left:545px;
  top:146px;
  width:320px;
  height:58px;
}
#u1260 {
  position:absolute;
  left:2px;
  top:21px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:58px;
}
#u1261 {
  position:absolute;
  left:865px;
  top:146px;
  width:296px;
  height:58px;
}
#u1262 {
  position:absolute;
  left:2px;
  top:21px;
  width:292px;
  word-wrap:break-word;
}
#u1263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
}
#u1263 {
  position:absolute;
  left:0px;
  top:204px;
  width:60px;
  height:58px;
}
#u1264 {
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u1265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:58px;
}
#u1265 {
  position:absolute;
  left:60px;
  top:204px;
  width:124px;
  height:58px;
}
#u1266 {
  position:absolute;
  left:2px;
  top:21px;
  width:120px;
  word-wrap:break-word;
}
#u1267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
}
#u1267 {
  position:absolute;
  left:184px;
  top:204px;
  width:90px;
  height:58px;
}
#u1268 {
  position:absolute;
  left:2px;
  top:21px;
  width:86px;
  word-wrap:break-word;
}
#u1269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:58px;
}
#u1269 {
  position:absolute;
  left:274px;
  top:204px;
  width:123px;
  height:58px;
}
#u1270 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:58px;
}
#u1271 {
  position:absolute;
  left:397px;
  top:204px;
  width:148px;
  height:58px;
}
#u1272 {
  position:absolute;
  left:2px;
  top:21px;
  width:144px;
  word-wrap:break-word;
}
#u1273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:58px;
}
#u1273 {
  position:absolute;
  left:545px;
  top:204px;
  width:320px;
  height:58px;
}
#u1274 {
  position:absolute;
  left:2px;
  top:21px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:58px;
}
#u1275 {
  position:absolute;
  left:865px;
  top:204px;
  width:296px;
  height:58px;
}
#u1276 {
  position:absolute;
  left:2px;
  top:21px;
  width:292px;
  word-wrap:break-word;
}
#u1277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
}
#u1277 {
  position:absolute;
  left:0px;
  top:262px;
  width:60px;
  height:58px;
}
#u1278 {
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u1279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:58px;
}
#u1279 {
  position:absolute;
  left:60px;
  top:262px;
  width:124px;
  height:58px;
}
#u1280 {
  position:absolute;
  left:2px;
  top:21px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
}
#u1281 {
  position:absolute;
  left:184px;
  top:262px;
  width:90px;
  height:58px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:21px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:58px;
}
#u1283 {
  position:absolute;
  left:274px;
  top:262px;
  width:123px;
  height:58px;
}
#u1284 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:58px;
}
#u1285 {
  position:absolute;
  left:397px;
  top:262px;
  width:148px;
  height:58px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:21px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:58px;
}
#u1287 {
  position:absolute;
  left:545px;
  top:262px;
  width:320px;
  height:58px;
}
#u1288 {
  position:absolute;
  left:2px;
  top:21px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:58px;
}
#u1289 {
  position:absolute;
  left:865px;
  top:262px;
  width:296px;
  height:58px;
}
#u1290 {
  position:absolute;
  left:2px;
  top:21px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
}
#u1291 {
  position:absolute;
  left:0px;
  top:320px;
  width:60px;
  height:58px;
}
#u1292 {
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:58px;
}
#u1293 {
  position:absolute;
  left:60px;
  top:320px;
  width:124px;
  height:58px;
}
#u1294 {
  position:absolute;
  left:2px;
  top:21px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
}
#u1295 {
  position:absolute;
  left:184px;
  top:320px;
  width:90px;
  height:58px;
}
#u1296 {
  position:absolute;
  left:2px;
  top:21px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:58px;
}
#u1297 {
  position:absolute;
  left:274px;
  top:320px;
  width:123px;
  height:58px;
}
#u1298 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:58px;
}
#u1299 {
  position:absolute;
  left:397px;
  top:320px;
  width:148px;
  height:58px;
}
#u1300 {
  position:absolute;
  left:2px;
  top:21px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:58px;
}
#u1301 {
  position:absolute;
  left:545px;
  top:320px;
  width:320px;
  height:58px;
}
#u1302 {
  position:absolute;
  left:2px;
  top:21px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:58px;
}
#u1303 {
  position:absolute;
  left:865px;
  top:320px;
  width:296px;
  height:58px;
}
#u1304 {
  position:absolute;
  left:2px;
  top:21px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1305 {
  position:absolute;
  left:520px;
  top:233px;
  width:40px;
  height:40px;
}
#u1306 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1307 {
  position:absolute;
  left:520px;
  top:289px;
  width:40px;
  height:40px;
}
#u1308 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1309 {
  position:absolute;
  left:520px;
  top:345px;
  width:40px;
  height:40px;
}
#u1310 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1311 {
  position:absolute;
  left:520px;
  top:404px;
  width:40px;
  height:40px;
}
#u1312 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
  background:inherit;
  background-color:rgba(216, 216, 216, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1313 {
  position:absolute;
  left:564px;
  top:145px;
  width:71px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1313_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1313.mouseOver {
}
#u1313_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1313.selected {
}
#u1314 {
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u1315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
  background:inherit;
  background-color:rgba(216, 216, 216, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1315 {
  position:absolute;
  left:658px;
  top:145px;
  width:71px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1315_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1315.mouseOver {
}
#u1315_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1315.selected {
}
#u1316 {
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u1317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1126px;
  height:29px;
}
#u1317 {
  position:absolute;
  left:203px;
  top:581px;
  width:1126px;
  height:29px;
}
#u1318 {
  position:absolute;
  left:2px;
  top:6px;
  width:1122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1319 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1320 {
  position:absolute;
  left:642px;
  top:93px;
  width:234px;
  height:36px;
}
#u1321 {
  position:absolute;
  left:2px;
  top:10px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322 {
  position:absolute;
  left:646px;
  top:99px;
  width:227px;
  height:24px;
}
#u1322_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1323 {
  position:absolute;
  left:564px;
  top:104px;
  width:57px;
  height:16px;
}
#u1324 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
