body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-23px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u69 {
  position:absolute;
  left:23px;
  top:19px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u70 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:612px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  position:absolute;
  left:23px;
  top:74px;
  width:375px;
  height:612px;
}
#u72 {
  position:absolute;
  left:2px;
  top:298px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u73 {
  position:absolute;
  left:24px;
  top:74px;
  width:373px;
  height:47px;
  text-align:left;
}
#u74 {
  position:absolute;
  left:2px;
  top:16px;
  width:369px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:231px;
  top:90px;
  width:73px;
  height:16px;
}
#u76 {
  position:absolute;
  left:16px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u75_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u77 {
  position:absolute;
  left:314px;
  top:90px;
  width:71px;
  height:16px;
}
#u78 {
  position:absolute;
  left:16px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u77_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u79 {
  position:absolute;
  left:24px;
  top:184px;
  width:373px;
  height:170px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u80 {
  position:absolute;
  left:39px;
  top:295px;
  width:50px;
  height:50px;
}
#u81 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_ann {
  position:absolute;
  left:82px;
  top:291px;
  width:1px;
  height:1px;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u82 {
  position:absolute;
  left:23px;
  top:19px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u83 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u84 {
  position:absolute;
  left:55px;
  top:617px;
  width:312px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u84_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u84.mouseOver {
}
#u84_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u84.mouseDown {
}
#u85 {
  position:absolute;
  left:2px;
  top:12px;
  width:308px;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:76px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u86 {
  position:absolute;
  left:24px;
  top:391px;
  width:373px;
  height:76px;
  text-align:left;
}
#u87 {
  position:absolute;
  left:2px;
  top:30px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u88 {
  position:absolute;
  left:38px;
  top:404px;
  width:50px;
  height:50px;
}
#u89 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_ann {
  position:absolute;
  left:81px;
  top:400px;
  width:1px;
  height:1px;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u90 {
  position:absolute;
  left:24px;
  top:136px;
  width:373px;
  height:47px;
  text-align:left;
}
#u91 {
  position:absolute;
  left:2px;
  top:16px;
  width:369px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:176px;
  top:152px;
  width:55px;
  height:16px;
}
#u93 {
  position:absolute;
  left:16px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u92_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u94 {
  position:absolute;
  left:243px;
  top:152px;
  width:62px;
  height:16px;
}
#u95 {
  position:absolute;
  left:16px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u94_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u96 {
  position:absolute;
  left:316px;
  top:152px;
  width:60px;
  height:16px;
}
#u97 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u96_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  position:absolute;
  left:39px;
  top:368px;
  width:103px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
