body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-23px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u649 {
  position:absolute;
  left:23px;
  top:19px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u650 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u651 {
  position:absolute;
  left:23px;
  top:19px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u652 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:612px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u653 {
  position:absolute;
  left:23px;
  top:74px;
  width:375px;
  height:612px;
}
#u654 {
  position:absolute;
  left:2px;
  top:298px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u656 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:98px;
}
.u657 {
  position:absolute;
  left:2px;
  top:41px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
.u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:76px;
}
.u658 {
  position:absolute;
  left:8px;
  top:10px;
  width:74px;
  height:76px;
}
.u659 {
  position:absolute;
  left:2px;
  top:30px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
.u660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u660 {
  position:absolute;
  left:101px;
  top:20px;
  width:43px;
  height:16px;
}
.u661 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
.u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
.u662 {
  position:absolute;
  left:101px;
  top:59px;
  width:63px;
  height:15px;
  font-size:12px;
  color:#999999;
}
.u663 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
.u664 {
  position:absolute;
  left:331px;
  top:21px;
  width:26px;
  height:16px;
}
.u665 {
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
.u664_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
.u666 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u667 {
  position:absolute;
  left:267px;
  top:55px;
  width:46px;
  height:25px;
}
.u667_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
.u667_ann {
  position:absolute;
  left:306px;
  top:51px;
  width:1px;
  height:1px;
}
.u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u668 {
  position:absolute;
  left:217px;
  top:60px;
  width:43px;
  height:16px;
}
.u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
.u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u670 {
  position:absolute;
  left:329px;
  top:60px;
  width:15px;
  height:16px;
}
.u671 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u655-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:98px;
}
#u655-2 {
  position:absolute;
  left:0px;
  top:98px;
  width:373px;
  height:98px;
}
#u655-3 {
  position:absolute;
  left:0px;
  top:196px;
  width:373px;
  height:98px;
}
#u655 {
  position:absolute;
  left:24px;
  top:104px;
  width:373px;
  height:294px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9933;
}
#u672 {
  position:absolute;
  left:32px;
  top:80px;
  width:359px;
  height:15px;
  font-size:12px;
  color:#FF9933;
}
#u673 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u674 {
  position:absolute;
  left:23px;
  top:103px;
  width:374px;
  height:1px;
}
#u675 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u676 {
  position:absolute;
  left:354px;
  top:39px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u677 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u676_ann {
  position:absolute;
  left:376px;
  top:35px;
  width:1px;
  height:1px;
}
