body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:373px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:63px;
}
.u89 {
  position:absolute;
  left:2px;
  top:24px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
.u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u90 {
  position:absolute;
  left:6px;
  top:6px;
  width:50px;
  height:50px;
}
.u91 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u92 {
  position:absolute;
  left:66px;
  top:37px;
  width:99px;
  height:16px;
}
.u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
.u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u94 {
  position:absolute;
  left:66px;
  top:11px;
  width:99px;
  height:16px;
}
.u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
.u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
.u96 {
  position:absolute;
  left:328px;
  top:11px;
  width:40px;
  height:16px;
  font-size:13px;
}
.u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
.u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
.u98 {
  position:absolute;
  left:278px;
  top:37px;
  width:92px;
  height:16px;
  font-size:12px;
  color:#999999;
}
.u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u86-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:63px;
}
#u86-2 {
  position:absolute;
  left:0px;
  top:63px;
  width:373px;
  height:63px;
}
#u86-3 {
  position:absolute;
  left:0px;
  top:126px;
  width:373px;
  height:63px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:189px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
