body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:693px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1336 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:477px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1337 {
  position:absolute;
  left:20px;
  top:9px;
  width:401px;
  height:477px;
}
#u1338 {
  position:absolute;
  left:2px;
  top:230px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:48px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1339 {
  position:absolute;
  left:20px;
  top:9px;
  width:401px;
  height:48px;
}
#u1340 {
  position:absolute;
  left:2px;
  top:16px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1341 {
  position:absolute;
  left:39px;
  top:19px;
  width:85px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1342 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1343 {
  position:absolute;
  left:391px;
  top:13px;
  width:22px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1343_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1343.mouseOver {
}
#u1344 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1345 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1346 {
  position:absolute;
  left:480px;
  top:-67px;
  width:233px;
  height:38px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:11px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348 {
  position:absolute;
  left:483px;
  top:-60px;
  width:226px;
  height:25px;
}
#u1348_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1349 {
  position:absolute;
  left:364px;
  top:-57px;
  width:66px;
  height:16px;
}
#u1350 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1351 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1352 {
  position:absolute;
  left:153px;
  top:130px;
  width:198px;
  height:38px;
}
#u1353 {
  position:absolute;
  left:2px;
  top:11px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1354 {
  position:absolute;
  left:156px;
  top:137px;
  width:192px;
  height:25px;
}
#u1354_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1355 {
  position:absolute;
  left:37px;
  top:140px;
  width:66px;
  height:16px;
}
#u1356 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1357 {
  position:absolute;
  left:37px;
  top:199px;
  width:57px;
  height:16px;
}
#u1358 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:39px;
}
#u1359 {
  position:absolute;
  left:153px;
  top:188px;
  width:37px;
  height:39px;
}
#u1360 {
  position:absolute;
  left:2px;
  top:12px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1359_ann {
  position:absolute;
  left:183px;
  top:184px;
  width:1px;
  height:1px;
}
#u1361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1361 {
  position:absolute;
  left:209px;
  top:428px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1361_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1361.mouseOver {
}
#u1361_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1361.selected {
}
#u1362 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u1363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1363 {
  position:absolute;
  left:313px;
  top:428px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1363_img.mouseOver {
}
#u1363.mouseOver {
}
#u1364 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u1365 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(210, 210, 210, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1366 {
  position:absolute;
  left:37px;
  top:278px;
  width:349px;
  height:127px;
}
#u1367 {
  position:absolute;
  left:2px;
  top:56px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368 {
  position:absolute;
  left:41px;
  top:285px;
  width:338px;
  height:116px;
}
#u1368_input {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:116px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1369 {
  position:absolute;
  left:37px;
  top:244px;
  width:57px;
  height:16px;
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1371 {
  position:absolute;
  left:373px;
  top:141px;
  width:15px;
  height:16px;
}
#u1372 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1373 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1374 {
  position:absolute;
  left:153px;
  top:75px;
  width:233px;
  height:38px;
}
#u1375 {
  position:absolute;
  left:2px;
  top:11px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1376 {
  position:absolute;
  left:156px;
  top:82px;
  width:226px;
  height:25px;
}
#u1376_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1377 {
  position:absolute;
  left:37px;
  top:85px;
  width:66px;
  height:16px;
}
#u1378 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
